<h1 class="text-danger text-center">Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p><a href="/restaurants/<%= restaurant.id %>" class="text-decoration-none text-success"><%= restaurant.name %></a></p>
<% end %>
