<h1><%= @restaurant.name %> <small>(<%= @restaurant.michelin_stars %>)</small></h1>

<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>

<hr>
<a href="/" class="btn btn-success">back</a>
